.header {
    text-align: center;
    background-color: ghostwhite;
    max-width: 500px;
    padding: 30px;
    margin: auto;
}

.name-project {
    color: blue;
}

a {
    width: auto;
    height: 50px;
    margin: 5px;
    background-color: aqua;
    color: black;
    padding: 10px;
    border: 5px;
    border-color: black;
    font-size: 40px;
    float: right;
}

a:hover {
    background-color: purple;
    color: white;
}

.navbar {
    width: auto;
    height: 100px;
    background-color: red;
    border: 20px;
    border-color: black;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 50px;
    padding: 50px;
    width: auto;
    background-color: #f1f1f1;
    text-align: center;
}

li:hover {
    background-color: #555;
    color: white;
}